<% layout('layouts/boilerplate') %>
<body>
  <h2>All Listings</h2>
  <!-- <div class="create-listing">
    <a href="/listings/new">Create New Listing</a>
  </div> -->
  <div class="all-listings row row-cols-1 row-cols-lg-3 g-4">
    <% listings.forEach(listing => { %>
    <!-- <div class="listing">
      <h3>
        <a href="/listings/<%= listing._id %>">Title</a> : <%= listing.title %>
      </h3>
      <p>Description : <%= listing.description %></p>
      <img src="<%= listing.image.url %>" alt="<%= listing.image.filename %>" />
      <p>Price: ₹<%= listing.price.toLocaleString("en-IN") %></p>
      <p>Location: <%= listing.location %>, <%= listing.country %></p>
    </div> -->
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="<%= listing.image.filename %>"
          style="height: 18rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <strong><%= listing.title %></strong> <br />
            <!-- <%= listing.description %><br />
          <%= listing.location %>, <%= listing.country %><br /> -->
            <strong>Price:</strong> ₹<%= listing.price.toLocaleString("en-IN")
            %> / night<br />
          </p>
        </div>
      </div>
    </a>
    <% }) %>
  </div>
</body>
