<% layout('layouts/boilerplate') %>
<body>
  <h2>All Listings</h2>
  <!-- <div class="create-listing">
    <a href="/listings/new">Create New Listing</a>
  </div> -->
  <div class="all-listings">
    <% listings.forEach(listing => { %>
    <div class="listing">
      <h3>
        <a href="/listings/<%= listing._id %>">Title</a> : <%= listing.title %>
      </h3>
      <p>Description : <%= listing.description %></p>
      <img src="<%= listing.image.url %>" alt="<%= listing.image.filename %>" />
      <p>Price: ₹<%= listing.price.toLocaleString("en-IN") %></p>
      <p>Location: <%= listing.location %>, <%= listing.country %></p>
    </div>
    <% }) %>
  </div>
</body>
