<% layout('layouts/boilerplate') %>
<body>
  <div class="listing">
    <h2>Title : <%= listing.title %></h2>
    <p>Description : <%= listing.description %></p>
    <img src="<%= listing.image.url %>" alt="<%= listing.image.filename %>" />
    <p>Price : ₹<%= listing.price.toLocaleString("en-IN") %></p>
    <p>Location : <%= listing.location %>, <%= listing.country %></p>
    <a href="/listings/<%= listing._id %>/edit">
      <button type="button" class="edit-btn">Edit Listing</button>
    </a>
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
      <button type="submit" class="delete-btn">Delete Listing</button>
    </form>
  </div>
</body>
